<center><br><h1 class = "bg-success"><br>Sent Email Successfully !<br><img src="http://www.flowmotioncafe.com/wp/wp-content/uploads/green_tick-300x300.png"><%= link_to "Download Predicted File", '/FinalResult.csv', class: "btn btn-danger btn-lg" %><br><br></h1>

</center>