<center><br><h1 class = "bg-success"><br>Successfully Trained !<br><img src="http://www.flowmotioncafe.com/wp/wp-content/uploads/green_tick-300x300.png"><br><%= link_to "Download Output Log", '/churnoutput.txt', class: "btn btn-danger btn-lg" %><br><br></h1>
<p >Find some of the logit regression results below ... ! </p>

<%= @rowarraydisp %>



<table border="0" cellspacing="5" cellpadding="5" class = "table">
  <tr>
  <% @csv_table.headers.each do |header| %>
    <th><%= header %></th>
  <% end %> 
  </tr>
  <% @csv_table.each do |row| %>
    <tr>
    <% row.each do |element| %>
      <td><%= element[1] %></td>
    <% end %>
    </tr>
  <% end %> 
</table>



</center>